* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Poppins, sans-serif;
    background: #f4f6f8;
    color: #333;
    font-size: 25px;
}
/*------------------------------------------------------------------*/
/*container*/
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    height: 100%px;
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
    border-radius: 20px 10px 10px 20px;
    margin: 50px 20px;
}
/*.container.calculator{
    background-color: #FFFFFF;
    border-radius: 20px 10px 10px 20px;
}
.container.result{
    background-color: yellow;
    border-radius: 10px 20px 20px 10px;
}*/
/*-------------------------------------------------------------------*/
/*ด้านใน container-calculator*/
    /*ด้านบนสุดหัวข้อ (header)*/
.topic-text{
    font-size: 25px;
    color: #1a202c;
}
.topic-text::before{
    content: 'คำนวณ';
    font-size: 35px;
    color: #3988A4;
}
    /*สูตร*/
.formula{
    width: max-content;
    margin: 20px auto;
    background: linear-gradient(135deg, #ffffff 0%, #f8f9fa 100%);
    border: 1px solid #eef2f7;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}
/*text ต่างๆ*/
.topic{
    color: #718096;
    font-size: 22px;
}
.subtopic{
    color: #026468;
    font-size: 20px;
    margin-top: 10px;
}
.explain{
    font-size: 14px;
    color: #0056D2;
}
.sec-2::after{
    content: 'ไม่เกิน 100,000 บาท';
    color: red;
}
/*---------------------------------------*/
.do-not-need{
    text-align: center;
    position: relative;
    top: 20px;
    color: #546070;
}

    /*ส่วนที่ 1 การคำนวณเงินได้สุทธิ (section 1)*/
/*--------------------------------------------------------------------*/
.calculation-1{
    width: auto;
    padding: 10px;
    margin: 20px 0px;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
        /*คำนวณ รายได้*/
.input-group{
    margin: 20px 40px;
    position: relative;
    width: 300px;
}
.input-group label{
    font-size: 14px;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #aaa;
    transition: 0.6s ease all;
    pointer-events: none;
    background-color: #fff;
}
.input-group input{
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: transparent;
    transition: 0.3s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.input-group input:focus{
    border: solid #007bff;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label{
    top: 0;
    color: #007bff;
    font-weight: bold;
    z-index: 10;
}
        /*คำนวณ ค่าใช้จ่าย*/
/*text*/
.all-text{
    font-size: 16px;
}
/*-----------------------*/

.field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: 100px;
    padding: 20px;
}
.item{
    text-align: center;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    background-color: #0056D2;
    color: #f7f5f5;
}

.result{
    font-size: 18px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 10px 10px;
    padding: 5px;
    background-color: #9ba9bd;
    color: black;
}
        /*ค่าลดหย่อน*/
.column-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    
}

/*--------------------------------------------------*/
.box{
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #1a202c;
    display: inline-block;
    transition: all 0.6 ease;
}

/*.box.action{
    transform: scale(1.1);
    color: #14532D;
}
.box::before{
    content: '● ';
}*/

/*Animation-box-ค่าลดหย่อน*/
.box.action::before{
    content: '- ';
    width: 5px;
    display: inline-block;
    margin-right: 5px;
}
.box.action:hover{
    color: #0056D2;
    transform: scale(1.2);
}
.box.action:hover::before{
    content: '+ ';
}
.box.action.done::before{
    content: '● ' !important;
}
/*Animation-notget-ค่าลดหย่อน*/
/*เมื่อได้ทำการ Add ไปแล้ว*/
.box.not-get:hover{
    color: #04b913;
    transform: scale(1.2);
}





