* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Poppins, sans-serif;
    background: #f4f6f8;
    color: #333;
    font-size: 25px;
}
/*------------------------------------------------------------------*/
/*container*/
.main-container{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: 600px;
    padding: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin: 50px 20px;
}
.container.calculator{
    background-color: #FFFFFF;
    border-radius: 20px 10px 10px 20px;
}
.container.result{
    background-color: yellow;
    border-radius: 10px 20px 20px 10px;
}
/*-------------------------------------------------------------------*/
/*ด้านใน container-calculator*/
    /*ด้านบนสุดหัวข้อ (header)*/
.topic-text{
    font-size: 25px;
    color: #1a202c;
}
.topic-text::before{
    content: 'คำนวณ';
    font-size: 35px;
    color: #3988A4;
}
    /*สูตร*/
.formula1{
    width: max-content;
    margin: 10px auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 10px;
    color: #0056D2;
}

    /*ส่วนที่ 1 การคำนวณเงินได้สุทธิ (section 1)*/
.topic{
    color: #718096;
}

